<script setup lang="ts">
import CalCompoent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWordExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import ConditionalAndLoop from "./components/ConditionalAndLoop.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <FormBindings />
    <ConditionalAndLoop />
    <AttributeBindings />
    <HandlingUserInput />
    <CalCompoent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
